HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!svelte/dashboard/main/**/target/
!svelte/dashboard/test/**/target/
src/main/resources/public/bundle.js
src/main/resources/public/indexBundle.js
src/main/resources/bundle/*
users.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!svelte/dashboard/main/**/build/
!svelte/dashboard/test/**/build/

### VS Code ###
.vscode/
