.toast {
  @apply rounded-md;
}

.toast-default {
  --toastBarBackground: theme("colors.secondary.500");
}

.toast-special {
  --toastBackground: theme("colors.secondary.500");
  --toastBarBackground: theme("colors.secondary.800");
}

.toast-error {
  --tw-bg-opacity: 1;
  --toastBackground: theme("colors.error.500");
  --toastBarBackground: theme("colors.error.800");
}

.toast-confirm {
  --tw-bg-opacity: 1;
  --toastBackground: theme("colors.confirm.500");
  --toastBarBackground: theme("colors.confirm.800");
}
